/* Todos os elementos da página */
:root {
  --azul: #3c567c;
}

* {
  margin: 0;
  padding: 0;
}

/* Elementos com o ID "titulo" */
#titulo {
  font-family: sans-serif;
  color: var(--azul);
  margin-left: 7%;
}

/* Elementos com o ID "subtitulo" */
#subtitulo {
  font-family: sans-serif;
  color: var(--azul);
  margin-left: 12%;
}

#check {
  display: inline-block;
}

/* Elementos de tag <fieldset>*/
fieldset {
  border: 0;
}

/* Elemento de tag <body> */
body {
  background-color: #e5e5e5;
  font-family: sans-serif;
  font-size: 1em;
  color: var(--azul);
  margin-left: 36%;
  margin-top: 2%;
  justify-content: center;
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input,
button {
  font-family: sans-serif;
  font-size: 1em;
  color: var(--azul);
  border-radius: 5px;
}

h2 {
  margin-bottom: 1.5rem;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before,
.grupo:after {
  display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
  clear: both;
}

/* Elementos de classe "campo" */
.campo {
  margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
  margin-bottom: 0.2em;
  color: var(--azul);
  display: block;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
  float: left;
  margin-right: 1em;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.campo input[type='text'],
.campo input[type='email'] {
  padding: 0.2em;
  border: 1px solid var(--azul);
  box-shadow: 2px 2px 2px rgba(173, 216, 230, 0.2);
  display: block;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.campo input:focus {
  background: #e0e0f8;
}

/* Elemento de classe "botao" */
.botao {
  font-size: 1.2em;
  background: var(--azul);
  border: 0;
  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
  background: #add8e6;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao,
select {
  cursor: pointer;
}
