<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}" />
    <title>Página Inicial</title>
  </head>
<body>
    <header>
      <div class="container">
        <img src="{{url_for('static',filename='img/logoheader.jpg')}}"class="logoPng">
          <P classe='nomesite'><b>SOLUÇÕES PARA IVESTIMENTOS</b></P>
        <nav>
          <a href="{{url_for('home')}}">
            <i class="fas fa-home"> Home</i>
          </a>
          <a href="{{url_for('cad')}}">
            <i class="fas fa-address-card"> Cadastro</i>
          </a>
          <a href="{{url_for('view')}}">
            <i class="fas fa-eye"> View</i>
          </a>
          <a href="">
            <i class="fas fa-sign-in-alt"> Login</i>
          </a>
        </nav>
      </div>
    </header>
    <script
    src="https://kit.fontawesome.com/bbfbd7f536.js"
    crossorigin="anonymous"
    ></script>
</body>
</html>
{%block content %} 
 
{%endblock%}
