{%extends 'base.html' %} 

{%block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/view.css')}}" />
<div class="container">
  <h1>Lista de Cadastros</h1>
  <br />
    <div class="tabela">

        <div class="header-container">
            <p>ID</p>
            <p>USUARIO</p>
            <P>NOME</P>
            <P>EMAIL</P>
            <P>AÇÃO</P>
            
        </div>
        
        {% for iten in dados%}
        <div class="conteudo">
            
            <p>{{iten.id}}</p>
            <p>{{iten.usuario}}</p>
            <p>{{iten.nome}}</p>
            <p> {{iten.email}}</p>
            <div class="acao">
                <a href="/update/{{iten.usuario}}"> Editar</a>
                <a href="/delete/{{iten.usuario}}"> Deletar</a>
                <a href="/carteira/{{iten.usuario}}"> Carteira</a>
            </div>
        </div>       
        {%endfor%}
    </div>
    </div>
  </table>
</div>

{%endblock%}
